In [2]:
import json

In [3]:
regs = json.load(open("../data/regViolated (2).json"))

In [4]:
cleanRegs = {}
for i in regs:
    cleanReg = []
    for j in regs[i]:
        if j == 'disp':
            continue
        for k in regs[i][j]:
            cleanReg.append(j+'_'+''.join([l for l in k if l != " "]))
    cleanRegs[i] = cleanReg

In [7]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder


dataset = [cleanRegs[i] for i in cleanRegs]
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [11]:
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(df, min_support=0.4)

    support itemsets
0  0.603277    (533)
1  0.414115    (529)

In [14]:
fpgrowth(df, min_support=0.1, use_colnames=True)

    support                            itemsets
0  0.603277                   (sectionSEBI_15j)
1  0.414115                   (sectionSEBI_15h)
2  0.250827                   (sectionSEBI_15a)
3  0.119592                   (sectionSEBI_15i)
4  0.394710  (sectionSEBI_15j, sectionSEBI_15h)
5  0.240908  (sectionSEBI_15j, sectionSEBI_15a)
6  0.113411  (sectionSEBI_15j, sectionSEBI_15i)